# Point at root VS dir (with Vintagestory executable). Probably supports windows paths too idk, make a PR if you had to fiddle
VINTAGE_STORY=/var/lib/flatpak/app/at.vintagestory.VintageStory/x86_64/stable/active/files/extra/vintagestory
